{% extends "base.html" %}

{% block title %}
  <div class="centered-title">
    {% include "title.html" %}
  </div>
{% endblock %}

{% block content %}
<br> <!-- Adding empty lines here -->
  <br> <!-- Adding empty lines here -->
  <pre style="color: #00FF00; background-color: transparent; font-family: monospace; text-align: left; font-size: 5px;">
████████╗██╗████████╗ █████╗ ███╗   ██╗
╚══██╔══╝██║╚══██╔══╝██╔══██╗████╗  ██║
   ██║   ██║   ██║   ███████║██╔██╗ ██║
   ██║   ██║   ██║   ██╔══██║██║╚██╗██║
   ██║   ██║   ██║   ██║  ██║██║ ╚████║
   ╚═╝   ╚═╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═══╝
  </pre>
  <br> <!-- Adding empty lines here as well -->
                                                                                                                                      
  <p>
    Node-RED is a programming tool for wiring together hardware devices, APIs, and online services in new and interesting ways.
    It provides a browser-based editor that makes it easy to wire together flows using the wide range of nodes in the palette
    that can be deployed to its runtime in a single-click. Node-RED is being used to automate Digital Forensics and Incident Response (DFIR) activities,
    streamlining processes, and improving efficiency in handling incidents.
  </p>
  <br> <!-- Adding empty lines here -->
  <pre style="color: #00FF00; background-color: transparent; font-family: monospace; text-align: left; font-size: 5px;">
██████╗ ███████╗ █████╗ ██████╗ ███╗   ███╗███████╗
██╔══██╗██╔════╝██╔══██╗██╔══██╗████╗ ████║██╔════╝
██████╔╝█████╗  ███████║██║  ██║██╔████╔██║█████╗  
██╔══██╗██╔══╝  ██╔══██║██║  ██║██║╚██╔╝██║██╔══╝  
██║  ██║███████╗██║  ██║██████╔╝██║ ╚═╝ ██║███████╗
╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚═╝     ╚═╝╚══════╝
  </pre>
  <br> <!-- Adding empty lines here as well -->
  <p>
    I have been working on this project for a good one year now and many many changes have occurred and I will continue to improve and add news features.
    Most changes will only require the NODE-RED Flow to be re-imported which I will provide instructions of new tools and how to install. if possible I will create a custom upgrade script with the changes so you run the script and it will automate the upgrade process, new tools, new flow, new UI etc.
  </p>
  
 
  <br> <!-- Adding empty lines here -->
  <pre style="color: #00FF00; background-color: transparent; font-family: monospace; text-align: left; font-size: 5px;">

██╗    ██╗ ██████╗ ██████╗ ██╗  ██╗    ██╗███╗   ██╗    ██████╗ ██████╗  ██████╗  ██████╗ ██████╗ ███████╗███████╗███████╗
██║    ██║██╔═══██╗██╔══██╗██║ ██╔╝    ██║████╗  ██║    ██╔══██╗██╔══██╗██╔═══██╗██╔════╝ ██╔══██╗██╔════╝██╔════╝██╔════╝
██║ █╗ ██║██║   ██║██████╔╝█████╔╝     ██║██╔██╗ ██║    ██████╔╝██████╔╝██║   ██║██║  ███╗██████╔╝█████╗  ███████╗███████╗
██║███╗██║██║   ██║██╔══██╗██╔═██╗     ██║██║╚██╗██║    ██╔═══╝ ██╔══██╗██║   ██║██║   ██║██╔══██╗██╔══╝  ╚════██║╚════██║
╚███╔███╔╝╚██████╔╝██║  ██║██║  ██╗    ██║██║ ╚████║    ██║     ██║  ██║╚██████╔╝╚██████╔╝██║  ██║███████╗███████║███████║
 ╚══╝╚══╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝    ╚═╝╚═╝  ╚═══╝    ╚═╝     ╚═╝  ╚═╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝                                                                                                                    
  </pre>
  <ul style="list-style-type: none;">
    <li><span style="color: #00FF00; font-size: 20px;">•</span> Fixing Live Progress</li>
    <li><span style="color: #00FF00; font-size: 20px;">•</span> Fixing Automation Script</li>
  </ul>
  

  <br> <!-- Adding empty lines here -->
  <pre style="color: #00FF00; background-color: transparent; font-family: monospace; text-align: left; font-size: 5px;">
██╗   ██╗██████╗  ██████╗ ██████╗ ███╗   ███╗██╗███╗   ██╗ ██████╗     ██╗   ██╗██████╗ ██████╗  █████╗ ████████╗███████╗███████╗
██║   ██║██╔══██╗██╔════╝██╔═══██╗████╗ ████║██║████╗  ██║██╔════╝     ██║   ██║██╔══██╗██╔══██╗██╔══██╗╚══██╔══╝██╔════╝██╔════╝
██║   ██║██████╔╝██║     ██║   ██║██╔████╔██║██║██╔██╗ ██║██║  ███╗    ██║   ██║██████╔╝██║  ██║███████║   ██║   █████╗  ███████╗
██║   ██║██╔═══╝ ██║     ██║   ██║██║╚██╔╝██║██║██║╚██╗██║██║   ██║    ██║   ██║██╔═══╝ ██║  ██║██╔══██║   ██║   ██╔══╝  ╚════██║
╚██████╔╝██║     ╚██████╗╚██████╔╝██║ ╚═╝ ██║██║██║ ╚████║╚██████╔╝    ╚██████╔╝██║     ██████╔╝██║  ██║   ██║   ███████╗███████║
 ╚═════╝ ╚═╝      ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝╚═╝  ╚═══╝ ╚═════╝      ╚═════╝ ╚═╝     ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝╚══════╝                                                                                                                                                                                                                       
  </pre>
  <br> <!-- Adding empty lines here as well -->
    <p>
    I have been working on this project for a good one year now and many many changes have occurred and I will continue to improve and add news features.
    Most changes will only require the NODE-RED Flow to be re-imported which I will provide instructions of new tools and how to install. if possible I will create a custom upgrade script with the changes so you run the script and it will automate the upgrade process, new tools, new flow, new UI etc.
  </p>
  
  <p>
    Created by David Terrey<br>
    LinkedIn: <a href="https://www.linkedin.com/in/david-terrey-a06b1312/" target="_blank">https://www.linkedin.com/in/david-terrey-a06b1312/</a>
  </p>
{% endblock %}
