<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Mitre Dashboard</title>
    <style>
        body {
            background-color: black;
            color: #00FF00;
        }
        .centered-title {
            text-align: center;
            font-size: 16px;
            line-height: 1.2;
            color: #00FF00;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <div class="centered-title">
        <h1>Mitre Dashboard</h1>
    </div>
    <script>
        window.onload = function() {
            window.open('file:///home/dterrey/Downloads/zircogui/index.html', '_blank');
        };
    </script>
</body>
</html>
