<div class="ascii-title">
    <pre style="color: #00FF00; background-color: transparent;">

████████╗██╗████████╗ █████╗    ███╗   ██╗
╚══██╔══╝██║╚══██╔══╝██╔══██╗   ████╗  ██║
   ██║   ██║   ██║   ███████║   ██╔██╗ ██║
   ██║   ██║   ██║   ██╔══██║   ██║╚██╗██║
   ██║██╗██║██╗██║██╗██║  ██║██╗██║ ╚████║
   ╚═╝╚═╝╚═╝╚═╝╚═╝╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝

<span style="font-size: 20px;">Threat Investigation and Tactical Analysis Network</span>
                                                                                                                                                                                                                 
    </pre>
    </div>
    
